#cnblogs_post_body h1 {
    background: #2B6695;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-family: comic sans ms,"微软雅黑" , "宋体" , "黑体" ,Arial;
    font-size: 23px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 8px 0 5px 5px;
    text-shadow: 2px 2px 3px #222222;
    text-align: center;
    margin-bottom: 20px;
}
#cnblogs_post_body h2 {
    background: #2B6600;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-family: comic sans ms,"微软雅黑" , "宋体" , "黑体" ,Arial;
    font-size: 19px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 12px 0 !important;
    padding: 2px 0 2px 10px;
    text-shadow: 2px 2px 3px #222222;
    margin-bottom: 20px;
}