.PublicLinks{background:#272829;height:30px;line-height:30px}
.PublicLinks ul{width:1200px;margin:0 auto;color:#919191}
.PublicLinks ul li{float:left;display:block;margin:0 10px}
.PublicLinks ul li a{color:#696969}
.PublicBottom ul,.footer .links ul{float:none}
.PublicBottom{width:100%;background:#272829;padding-top:20px;height:186px;color:#fff}
.PublicBottom li{float:left;width:100px;height:100px;text-align:center;font-size:18px;color:#fff}
.PublicBottom .m-nav{width:650px}
.PublicBottom ul a,.b-key a{color:#f4f7f9!important}
.PublicBottom ul a:hover{color:#2766d0!important}
.PublicBottom .b-left{width:650px;display:inline;margin-right:40px;line-height:26px;height:60px}
.PublicBottom [class^=b_links_icon],[class*=b_links_icon],[class*=" b_links_icon"],[class^=b_links_icon]{display:block;margin:10px auto}
.PublicBottom [class^=b_links_icon],[class*=b_links_icon]{width:40px;height:40px;background:url(/Public/images/bottom_icons.png) no-repeat;background-size:240px 40px}
.PublicBottom .b_links_icon1{background-position:0 0}
.PublicBottom .b_links_icon2{background-position:-40px 0}
.PublicBottom .b_links_icon3{background-position:-80px 0}
.PublicBottom .b_links_icon4{background-position:-120px 0}
.PublicBottom .b_links_icon5{background-position:-160px 0}
.PublicBottom .b_links_icon6{background-position:-200px 0}
.PublicBottom .b_phone_icon{width:50px;height:55px;background:url(/Public/images/bottom_phone_icon.png) no-repeat 0;display:block;margin:0 5px;float:right}
.b-right{width:450px}
.b-phone{padding:5px 0;height:30px;line-height:30px;color:#fff}
.b-phone span{font-size:28px;color:#fff}
.b-phone h5{font-size:12px;color:#fff;margin:0}
.b-phone h3{color:#fff}
.b-copyright{text-align:right;margin-top:100px;line-height:22px;color:#fff}
.b-phone span{float:right}
.PublicBottom .b-key{margin-top:45px;font-size:14px}
.PublicBottom [class^=k-block],[class*=k-block]{border-radius:3px;margin-left:10px;padding:2px}
.k-block1{background-color:#549833}
.k-block2{background-color:#a29937}
.k-block3{background-color:#8673AE}
.k-block4{background-color:#157630}
.k-block5{background-color:#845A37}
.k-block6{background-color:#5699A5}
.k-block7{background-color:#6C683C}
.k-block8{background-color:#a29937}